{% extends 'login/base.html' %}
{% load static %}

{% block content %}
<h1>PRODUCTSHOP</h1>
<hr>
<div class="about">
    <div class="about-descr">
        PRODUCTSHOP — это украинская версия самого большого интернет-магазина Китая TAOBAO. Товары доставляются в Украину,
        а оплатить их можно прямо на сайте в режиме online.</p>
        <p>PRODUCTSHOP – это самый удобный и надежный способ приобретения товаров из китайского интернет-магазина Taobao.com.</p>
    </div>
    <ul>
        <li>Мы делаем все, чтобы процесс покупки товаров был максимально простым, удобным и безопасным</li>
        <li>Вам не потребуется знание китайского языка или действующий счет в китайском банке.</li>
        <li>Вы просто выбираете товар в каталоге на русском/украинском языке и оплачиваете его в долларовом
            эквиваленте любым доступным способом.</li>
        <li>Мы проверяем товар и отправляем его Вам.</li>
        <li>15 лет на рынке - богатый опыт, стабильность и гарантия качества.</li>
        <li>более 100 производителей - у нас вы найдете светильники из Италии, Германии, Польши, Австрии и др. стран.</li>
        <li>более 50 000 товаров - широкий ассортимент товаров в наличии, а также под заказ.</li>
        <li>С нами Вам доступен любой китайский Интернет-магазин с ресурса www.PRODUCTSHOP.com, www.PRODUCTSHOP.com, а также
            производители по всей территории Китая.</li>
    </ul>

</div>
{% endblock content %}