{% extends 'login/base.html' %}
{% load static %}

{% block content %}
<div class="contacts">
    <h2 align="center">КОНТАКТЫ</h2>
    <div class="feedback">
        <div class="row">
            <div class="col">
                    <div style="" class="phone">
                    <h3>С нами можно связаться по телефонам:</h3>
                    <p class="phone-number">(044) 392-80-68</p>
                    <p class="phone-number">(067) 530-11-33</p>
                    <p class="phone-number">(050) 530-11-33</p>
                    </div>
            </div>
            <div class="col">
                <div class="address">
                    <h3>Адрес магазина:</h3>
                    <p class="address-shop">г. Киев</p>
                    <p class="address-shop">ул. Сечевых Стрельцов, 79а (м. Лукьяновка)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="" class="email">
                    <h3>по электронной почте:</h3>
                    <p class="email-shop">shop@napoli.com.ua</p>
                    <p class="email-shop">Общие вопросы (медиа):</p>
                    <p class="email-shop">info@produktoff.ua</p>
                </div>
            </div>
            <div class="col">
                <div  class="work-time">
                    <h3>Время работы магазина:</h3>
                    <p class="work-time">Заказы через ИНТЕРНЕТ принимаются круглосуточно</p>
                    <p class="work-time">Заказы по телефону принимаются и обрабатываются</p>
                    <p class="work-time">ежедневно: 08:00-20:00</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}